{% extends 'locadora/base.html' %}

<html>
    <head>
        <title>Django Locadora</title>
    </head>
    <body>
    {% block content %}
    <center><h3>Lista de Clientes</h3></center>
        <table class="table">
             {% for cliente in clientes %}
             <br>
                <tr>
                    <td>
                        <h5> Nome Completo: {{ cliente.nome }}<br/></h5>
                        <h5>CPF: {{ cliente.cpf }}<br/></h5>
                        <br>
                        <br>
                   
                    </td>
                    <td>
                        <a class="btn btn-default" href="{% url 'editar_cliente' id=cliente.id %}">
                            <button type="button" class="btn btn-danger">Editar / Alterar</button>
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-default" href="{% url 'delete_cliente' id=cliente.id %}">
                            <button type="button" class="btn btn-danger">Deletar</button>
                        </a>
                    </td>
            
            {% endfor %}
            </tr>
        </table>
        {% endblock %}
    </body>
</html>